<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">Grow your business with us</p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text">
          <figure>
            <img src="images/about.svg" alt="herosection-image" />
          </figure>
        </div>

        {{! right side }}
        <div
          class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column"
        >
          <h1>We Are The Team Of Professional Developer</h1>

          <p>Hello everyone myself
            <span class="bold-style">Raj Vakhariya</span>, and i am a node.js
            developer at crest infosystems pvt.ltd. currentlly i am doing my
            internship after completting the internship i am join as software
            developer at crest infosystems......</p>
          <button class="btn-style btn-primary">Read More</button>
        </div>

      </div>
    </div>
  </div>
</div>