<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.9795710747653!2d72.78551161479729!3d21.19297048590967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04dd2a90b359d%3A0x65c3709ee9a4f180!2sCrest%20Infosystems%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1679312961568!5m2!1sen!2sin"
    width="100%"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>